/**
 * Editor Styles
 */
#editor {

	.nelio-maps-google-map.is-api-key-missing {

		background: #eee;
		position: relative;
		text-align: center;

		svg {
			margin: 3em auto 2em;
			fill: #666;
			height: 3em;
			width: 3em;
		}

		.nelio-maps-google-map-placeholder-key {

			background: white;
			box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.2 );
			display: inline-block;
			margin: 0 1em 1em;
			padding: 1em;

			p {
				text-align: center;
				font-size: 0.9em;
				margin: 0;
			}

			p:first-child {
				font-weight: bold;
			}

		}

	}

	.nelio-maps-address-search-dropdown {
		box-sizing: border-box;
		margin: 8px auto;
		width: calc( 100% - 16px );
	}

	section.nelio-maps-google-map {

		.address {

			min-width: 30%;

			p.mce-content-body,
			p.editor-rich-text__tinymce {
				text-align: left;
				font-size: 0.9rem !important;
				line-height: 1.2 !important;
			}

		}

	}

}

/* Google Location Search Dropdown */
.pac-container.pac-logo {
	z-index: 99999;
}
