.nelio-maps-google-map {

	position: relative;

	.address {
		background: white;
		font-size: 0.9rem;
		margin: 0;
		padding: 1em;
		position: absolute;
		top: 5em;

		&.align-left {
			left: 0;
			padding-left: 2em;
		}

		&.align-right {
			right: 0;
			padding-right: 2em;
		}

	}

}
